.connexion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
}

.card-connexion {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  max-width: 70%;
}

.connexion-h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  gap: 50px;
  padding: 50px;
}

input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  margin-top: 15px;
  border: 1px solid #ccc;
}

.password {
  margin-top: 40px;
}

.submit {
  width: 100%;
  height: 40px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .card-connexion {
    width: 90%;
    padding: 15px;
  }
  input {
    height: 35px;
    font-size: 14px;
  }

  .submit {
    height: 35px;
    font-size: 14px;
  }
  .form-connexion {
    padding: 50px;
  }
}

@media screen and (max-width: 750px) {
  .card-connexion {
    width: 95%;
    padding: 15px;
  }
}
