.navbar {
  background-color: #808080;
  height: 50px;
  width: 100%;
}
.navbar-connexion-link {
  color: white;
  margin-left: 1650px;
  margin-top: 80px;
}

@media screen and (max-width: 600px) {
  .navbar {
    width: 600px;
  }
  .navbar-connexion-link {
    color: white;
    margin-left: 400px;
    margin-top: 80px;
  }
}
