.navbar {
  background-color: #808080;
  height: 120px;
  min-width: 80%;
  max-width: 116%;
  margin-bottom: 20px;
}
.image-space {
  width: 50px;
  margin-left: 950px;
  margin-top: 20px;
}
.navbar-connexion-link {
  color: white;
  margin-left: 1200px;
}

@media screen and (max-width: 600px) {
  .image-space {
    display: none;
  }
  .navbar {
    width: 1100px;
  }
  .navbar-connexion-link {
    color: white;
    margin-left: 150px;
    margin-top: 80px;
  }
}
